main {
  text-align: center;
  background-color: rgba(34, 31, 31, 0.61);
  background-image: url('./bgrnd.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  color: white;
}